{% extends 'base.html.twig' %}

{% block title %}Creation offre{% endblock %}

{% block body %}

<style>
    #div_form_offre{
        border: 1px solid black;
        width: 40%;
        padding: 1.5rem;
        margin: auto;
        margin-top: 1rem;
        border-radius: 0.5rem;
    }
    #form_offre {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

</style>
<div id="div_form_offre">
    <form id="form_offre" action="{{ path('sauvegarder_app_offre') }}" method="post">
        <div class="form-group">
            <label for="titre">Titre de l'offre</label>
            <input type="text" name="titre" class="form-control" id="titre" aria-describedby="titre" placeholder="Titre" {{ variables['id'] ? "value='" ~ variables.offre.getTitre() ~ "'" }}>
            <small id="titre" class="form-text text-muted">Intitulé de votre offre</small>
        </div>
        <div class="form-group">
            <label for="date_fin">Date de fin</label>
            <input type="date" name="date_fin" class="form-control" id="date_fin" placeholder="Date de fin">
            <small id="titre" class="form-text text-muted">Date de fin de votre annonce</small>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type">
                {% for type in variables['types'] %}
                    <option value="{{ type.id }}">{{ type.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="temps">Temps</label>
            <select class="form-control" id="temps" name="temps">
                <option value="1">Temps partiel</option>
                <option value="2">Temps plein</option>
            </select>
        </div>
        <div class="form-group">
            <label for="detail">Détails</label>
            <textarea class="form-control" id="detail" rows="3" name="detail"></textarea>
        </div>
        <div class="form-group">
            <label for="salaire_min">Salaire min</label>
            <input type="number" name="salaire_min" class="form-control" id="salaire_min" aria-describedby="titre" placeholder="Salaire min">
        </div>
        <div class="form-group">
            <label for="salaire_max">Salaire max</label>
            <input type="number" name="salaire_max" class="form-control" id="salaire_max" aria-describedby="titre" placeholder="Salaire max">
        </div>

        <button type="submit" class="btn btn-primary">Publier</button>
    </form>
</div>
{% endblock %}
