{% extends 'base.html.twig' %}

{% block title %}Espace Particulier{% endblock %}

{% block body %}
{% include 'navbar_p.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{path('creer_petit_boulot')}}"><button class="btn btn-success">Proposer un petit boulot</button></a>
</div>
{% endblock %}