<style>
    #navbar{
        padding-left: 1rem;
        background-color: cadetblue;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{path('app_home_recruteur')}}">Utilisateur (home) <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('offre_user')}}">Liste des offres disponibles</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{path('app_deconnexion')}}">Se deconnecter</a>
            </li>
        </ul>
    </div>
</nav>
